* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


.header {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/airport.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*padding-top: 30px;*/
    text-align: center; 
    color: #fff;
}

.login-button {
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
}

.about-button {
    width: 100px;
    padding: 8px 0;
    margin-left: 10px;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    float: right;
}

.register-button {
    width: 100px;
    padding: 8px 0;
    margin-right: 10px;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
}

.container {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-bottom: 20px;
}

.header h1 {
    padding-top: 250px;
    padding-bottom: 0;
    font-size: 65px;
}

.header h4 {
    padding-top: 250px;
    padding-bottom: 0;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
}

.header h3 {
    margin: 20px 0;
    padding-bottom: 0;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
}

.header p {
    margin: 20px 0;
    font-size: 20px;
}

.form-box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
    width: 380px;
    /*margin: 6% auto;*/
    background: #ffffffcf;
    padding: 50px;
    border-radius: 10px;
    overflow: hidden;
}

.button-box {
    width: 230px;
    position: relative;
    margin: 35px auto;
    box-shadow: 0 0 20px 9px #ffd7001f; /*FFD700*/
    border-radius: 30px;
}

.toggle_button {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    outline: none;
    position: relative;
    border: 0;
}

#button {
    top: 0;
    left: 0;
    position: absolute;
    width: 115px;
    height: 100%;
    background: linear-gradient(to right, #ffd700, #9f8700);
    /*background: linear-gradient(to right, #f0d700, #cfd000); #f0d700, #cfd000*/
    border-radius: 30px;
    transition: .5s;

}

.input-group {
    /*top: 180px;*/
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.input-field-date {
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: none;
    background: transparent;
}

.submit-button {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: linear-gradient(to right, #ffd700, #9f8700);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 10px;
}

.check-box {
    margin-top: 3px;
    margin-right: 10px;
}

span {
    color: #555;
    font-size: 14px;
    margin-right: 10px;
    /*bottom: 68px;*/
    /*position: absolute;*/
}

label {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #000;
    font-size: 14px;
}

#register {
    display: none;
    left: 400px;
}







